# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_A_QUAX_QUAX_LEFT

config ZMK_KEYBOARD_NAME
	default "a quax quax"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_A_QUAX_QUAX_RIGHT

config ZMK_KEYBOARD_NAME
	default "a quax quax r"

endif

if SHIELD_A_QUAX_QUAX_LEFT || SHIELD_A_QUAX_QUAX_RIGHT

config ZMK_SPLIT
	default y

endif
