# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_a_quax_quax_LEFT

config ZMK_KEYBOARD_NAME
	default "Architeuthis Dux Dux"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_a_quax_quax_RIGHT

config ZMK_KEYBOARD_NAME
	default "Architeuthis Dux Dux Right"

endif

if SHIELD_a_quax_quax_LEFT || SHIELD_a_quax_quax_RIGHT

config ZMK_SPLIT
	default y

endif
