# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_a_quax_quax_LEFT
	def_bool $(shields_list_contains,a_quax_quax_left)

config SHIELD_a_quax_quax_RIGHT
	def_bool $(shields_list_contains,a_quax_quax_right)
